<div class="fos_user_group_list">
    <ul>
    {% for group in groups %}
        <li><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ path('fos_user_group_edit', {'groupName': group.getName()} ) }}">edit</a>&nbsp;&nbsp;&nbsp;&nbsp; 
		<a href="{{ path('group_delete', {'id': group.getId()} ) }}">Delete</a></li>
    	
	{% endfor %}
    </ul>
	
	<ul>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">
                Create a new user
            </a>
        </li>
    </ul>
	
	<ul>
        <li>
            <a href="{{ path('fos_user_group_new') }}">
                Create a new group
            </a>
        </li>
    </ul>
	
	<ul>
        <li>
            <a href="{{ path('fos_user_group_list') }}">
                Groups
            </a>
        </li>
    </ul>
</div>
