{% block content %}
<h1>Users</h1>

<table class="records_list" style="border:1px solid black;  width:100%">
    <thead>
        <tr>
            <th>Username</th>
			<th>groups</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user.username }}</td>
				<td>
                   
					<table style="border:1px solid black;">
					
					
					 {% for group in entity.groups %}
					 <tr>
						 <td>
						
						   {{ group.group.name }}
						   <ul>
                       
								<li>
									<a href="{{ path('user_group_delete', { 'id': group.group.id }) }}">remove group</a>
								</li>
								
							</ul>
						 </td>
					 </tr>
					 
					 {% endfor %}
					
					 </table>
                </td>
                <td>                 
					<ul>
                       
						<li>
							<a href="{{ path('user_edit', { 'id': entity.user.id }) }}">edit</a>
						</li>
					
					   
						<li>
							<a href="{{ path('user_delete', { 'id': entity.user.id }) }}">delete</a>
						</li>
					</ul> 
					
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">
                Create a new user
            </a>
        </li>
    </ul>
	
	<ul>
        <li>
            <a href="{{ path('fos_user_group_new') }}">
                Create a new group
            </a>
        </li>
    </ul>
    {% endblock %}
